html {
    height: 100%;
    background: linear-gradient(#000 1px, #0000 0),
      linear-gradient(90deg, #000, #0000, #000),
      linear-gradient(in oklch longer hue -2deg, #a00, #a00);
    background-size:
      100% 2px,
      100% 100%,
      100% 100%;
  }